html {
  font-family: serif;
}
p { font-size: 13px; }
em { font-size: 12px; }
hr {
  border: 0;
  height: 128px;
  background-image: url("sun1.png"); 
}

pre {
  color: blue;
}
code {
  font-family: monospace;
  color: blue;
}

a {   text-decoration: none; }
a:hover { text-decoration: underline }
a:link {
  color: SlateGray;
}
a:visited { 
  color: Gray; 
}
ul { 
  list-style-type: disc; 
  font-family: monospace;
}
small {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: gray;
    text-align: center;
}

